<!DOCTYPE html>
<html>
<head>
  <title>Props2me</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://code.angularjs.org/1.2.14/angular.min.js" %>
  <%= javascript_include_tag "http://code.angularjs.org/1.2.14/angular-route.min.js" %>
  <%= javascript_include_tag "http://code.angularjs.org/1.2.14/angular-resource.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="props">
  <div ng-view>
    <%= yield %>
  </div>
</body>
</html>
