<!DOCTYPE html>
<html>
<head>
  <title>Props2me</title>
  <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag "http://props2me.s3.amazonaws.com/stylesheets/overall.css", media: "all" %>
  <%= stylesheet_link_tag "http://props2me.s3.amazonaws.com/stylesheets/admin.css", media: "all" %>
  <%= stylesheet_link_tag "http://props2me.s3.amazonaws.com/stylesheets/edit.css", media: "all" %>
  <%= stylesheet_link_tag "http://props2me.s3.amazonaws.com/stylesheets/props.css", media: "all" %>
  <%= stylesheet_link_tag "http://props2me.s3.amazonaws.com/stylesheets/users.css", media: "all" %>

  <%= javascript_include_tag "http://code.angularjs.org/1.2.14/angular.min.js" %>
  <%= javascript_include_tag "http://code.angularjs.org/1.2.14/angular-route.min.js" %>
  <%= javascript_include_tag "http://code.angularjs.org/1.2.14/angular-resource.min.js" %>
  <%= javascript_include_tag "http://cdn.jsdelivr.net/lodash/2.1.0/lodash.compat.min.js" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js" %>

  <%= javascript_include_tag "http://props2me.s3.amazonaws.com/javascripts/angular/app.js" %>
  <%= javascript_include_tag "http://props2me.s3.amazonaws.com/javascripts/angular/services/flash.js" %>
  <%= javascript_include_tag "http://props2me.s3.amazonaws.com/javascripts/angular/services/user.js" %>
  <%= javascript_include_tag "http://props2me.s3.amazonaws.com/javascripts/angular/controllers/Controllers.js" %>

  <%= csrf_meta_tags %>
</head>
<body ng-app="props">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Props2Me</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul ng-controller="LoginController" class="nav navbar-nav navbar-right">
          <li><a href="#/users/">Users</a></li>
          <li ng-if="authenticated()"><a href="#/users/{{current_user.id}}">Profile</a></li>
          <li ng-if="admin()"><a href="#/admin/">Admin</a></li>
          <li>
            <a href="" ng-if="authenticated()" ng-click="logoutUser()">Logout</a>
            <a href="#/login" ng-if="!authenticated()">Login</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
  <div class="container">
    <div ng-view>
      <%= yield %>
    </div>
  </div>
</body>
</html>
